AQ_AZ_BLOB_LOG_DIRECTORY_PATH="Users/aq/aq/local/aq-data-az-blob/logs"
AQ_AZ_SOURCE_FILE_DIRECTORY_PATH="Users/aq/aq/local/aq-data-az-blob/source_dir"
AQ_AZ_DOWNLOADED_DIR_PATH="Users/aq/aq/local/aq-data-az-blob/download"
AQ_AZ_STAGING_DIRECTORY_PATH="Users/aq/aq/local/aq-data-az-blob/staging"
AQ_AZ_STORAGE_CONNECTION_STRING="THIS_IS_A_BIG_SECRET"
AQ_AZ_STORAGE_CONTAINER_NAME="raw-data-test"
AQ_AZ_PLATFORM_NAME="platform-test-001"
AQ_AZ_FILE_SUFFIXES=".csv,.parquet,.json,.txt,.flac"