AQ_BLOB_LOG_DIRECTORY_PATH="/Users/rohal/projects/aq/local/aq-data-az-blob/logs"
AQ_AZ_SOURCE_FILE_DIRECTORY_PATH="/Users/rohal/projects/aq/local/aq-gateway/measurements"
AQ_AZ_STAGING_DIRECTORY_PATH="/Users/rohal/projects/aq/local/aq-data-az-blob/staging"
AQ_AZ_STORAGE_CONNECTION_STRING="do_not_share_this"
AQ_AZ_STORAGE_CONTAINER_NAME="measures-archive"
AQ_DEVICE_ID="test-001"
AQ_AZ_DOWNLOADED_DIR_PATH="/Users/rohal/projects/aq/local/aq-data-az-blob/downloaded"

